*,
*:before,
*:after {
	box-sizing: border-box;
}
body{
	font-family: 'Arima Madurai', cursive;
	margin: 0;  
	padding: 0;
	background-color: #070707;
}

/*VIDEO*/

.video-bg {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.video-bg video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.effects {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
}
.video_content {
    z-index: 2;
}

/*NAVIGATION*/
.logo{
	height: 45px;
	width: 45px;
	background-color: white;
}
.nav{
	display: flex;
	font-size: 14px;
	font-weight: 700;
}
.link{
	color: #743030;
	margin-left: 50px;
	text-decoration: none; 
}
.link:hover{
	display: table;
    border-bottom: 1.2px solid #743030;
    text-transform: capitalize;
}
.container{
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.header{
	padding-top: 10px;
	font-family: 'Montserrat', sans-serif;
	top: 0;
	left: 0;
	width: 100%;
	position: absolute;
}
.header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*INTRO*/

.intro{
	margin: 0 auto;
}
.intro_text{
	text-align: center;
}
#introp{
	vertical-align: middle;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: #9A1515;
}
h1{
	margin: 0;
	vertical-align: middle;
	color: white;
	font-size: 120px;
}

.playerr{
	text-decoration: none;
	bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
	width: 100%;
	position: absolute;
}
.player{
	display: flex;
	justify-content: space-between;	
	text-align: center;
	font-weight: 700;
	width: 100%;
	max-width: 1300px;
}
.player_inner{
	font-size: 16px;
	color: lightgray;
	font-family: 'Arial', sans-serif;
}
/*VIDEOCONTROLS*/

.timer {
	position: relative;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	height: 72px;
	width: 72px;
	border-radius: 50%;
	transform: rotate(4deg);
	z-index: 1;
}
.timer::after {
  transform: rotate(-4deg);
  mix-blend-mode: color-burn;
  background-image: conic-gradient( #9A1515 var(--angle), transparent 0);
  animation: progress 38s linear forwards;
  animation-iteration-count: infinite;
}

@keyframes progress {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
.timer::before,
.timer::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
}

.timer::before {
	border: solid 1px white;
}

.timer0 {
	position: relative;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	height: 72px;
	width: 72px;
	border-radius: 50%;
	transform: rotate(4deg);
	z-index: 1;
	border: solid 2px lightgray;
}

.ball{
	z-index: 1;
	background-color: gray;
	object-fit: cover;
	height: 60px;
	width: 60px;
	border-radius: 50px;
}

/*MAIN*/

.main{
	font-family: 'Montserrat', sans-serif;
	color: white;
	display: flex;
	top: 0;
	left: 0;
	position: relative;
}
.main_content{
	padding-top: 150px;
	display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.main_p{
	font-size: 20px;
	max-width: 550px;
	max-height: 300px;
	margin-bottom: 200px;
	margin-left: 10px;
}
#main_h{
	font-size: 36px;
	color: #743030 ;
}
img{
	transition: 0.5s linear;
	height: 100%;
	width: 100%;
	max-height: 600px;
	max-width: 500px;
}
img:hover{
	max-height: 608px;
	max-width: 508px;	
}
.main_container{
	width: 100%;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.slide{
	display: flex;
	position: relative;
}
.slide_link_1{
	margin-right: 15px;
	font-size: 18px;
	color:#743030 ;
	display: table;
    border-bottom: 1.2px solid #743030;
    text-transform: capitalize;
}
.slide_link{
	margin-right: 15px;
	font-size: 18px;
}
.slide_link:hover{
	color:#743030 ;
	display: table;
    border-bottom: 1.2px solid #743030;
    text-transform: capitalize;
}
#one{

}
#two{

}
#three{

}
#four{

}

/*MEDIA*/
@media (max-width: 827px){
	h1{
		font-size: 50px;
	}	
	#introp{
		font-size: 12px;
	}
	.main_content{
		flex-direction: column;
		padding-top: 40px;
	}
	.main_p{
	font-size: 13px;
	width: 328px;
	height: 120px;
	}
	#main_h{
	padding-top: 10px;
	font-size: 20px;
	color: #743030 ;
	}
	.link{
	margin-left: 20px;
	}
	.slide_link{
	margin-right: 10px;
	font-size: 17px;
}
@media (max-height: 827px){
	h1{
		font-size: 50px;
	}	
	#introp{
		font-size: 12px;
	}
	.main_content{
		flex-direction: column;
		padding-top: 40px;
	}
	.main_p{
	font-size: 13px;
	width: 328px;
	height: 120px;
	}
	#main_h{
	padding-top: 10px;
	font-size: 20px;
	color: #743030 ;
	}
	.link{
	margin-left: 20px;
	}
	.slide_link{
	margin-right: 10px;
	font-size: 17px;
}
}
@media (max-width: 340px){
	h1{
	font-size: 50px;
	}	
	#introp{
	font-size: 12px;
	}
	.main_content{
	flex-direction: column;
	padding-top: 40px;
	}
	.main_p{
	font-size: 13px;
	width: 250px;
	height: 120px;
	}
	#main_h{
	padding-top: 10px;
	font-size: 20px;
	color: #743030 ;
	}
	.link{
	margin-left: 16px;
	}
	.ball{
	height: 40px;
	width: 40px;
	}
	.timer {
	height: 50px;
	width: 50px;
}
.timer0 {
	height: 50px;
	width: 50px;
}
	.slide_link{
		margin-right: 8px;
		font-size: 12px;
	}
}
}